.header {
  padding: 43px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 980px) {
  .header {
    padding: 10px 0;
  }
}

.header .nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 980px) {
  .header .nav__wrapper {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    height: 100vh;
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    right: 0;
    top: 116px;
    width: 100%;
    background-color: #fff;
  }
  .header .nav__wrapper > * {
    width: 100%;
    margin-right: 0 !important;
    padding: 10px;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 31px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 980px) {
  .header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-left: 0;
  }
}

.header .nav a {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  line-height: 25px;
}

.header .nav a:not(:last-child) {
  margin-right: 31px;
}

@media only screen and (max-width: 980px) {
  .header .nav a {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
}

.header .burger_button {
  display: none;
  width: 40px;
  height: 40px;
  margin-left: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 980px) {
  .header .burger_button {
    display: block;
  }
}

.header .burger {
  display: none;
  width: 40px;
  height: 3px;
  background-color: black;
  position: relative;
}

.header .burger::before, .header .burger::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
}

.header .burger::before {
  left: 0;
  top: -10px;
}

.header .burger::after {
  top: 10px;
  left: 0;
}

@media only screen and (max-width: 980px) {
  .header .burger {
    display: block;
  }
}

.header .search__wrapper {
  position: relative;
}

@media only screen and (max-width: 980px) {
  .header .search__wrapper {
    display: none;
  }
}

.header .search__wrapper input {
  padding-left: 10px;
  padding-right: 50px;
  width: 0;
  height: 46px;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .find {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 14px;
  width: 30px;
  height: 30px;
  z-index: 5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .login {
  margin-left: 21px;
  font-size: 20px;
  line-height: 24.8px;
  border: 2px solid #1c1c1c;
  border-radius: 10px;
  width: 135px;
  height: 46px;
  padding: 11px;
  font-family: "Libre Baskerville", serif;
}

@media only screen and (max-width: 980px) {
  .header .login {
    margin-left: 0;
  }
}

.logo {
  position: relative;
  width: 178px;
}

.logo p {
  padding: 0;
  position: absolute;
  left: 16px;
  bottom: 9px;
  font-size: 30px;
  line-height: 1;
  vertical-align: text-bottom;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.logo span {
  color: white;
}

.square {
  width: 58px;
  height: 58px;
  background-color: black;
}

[aria-expanded="true"] {
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
  opacity: 1 !important;
  pointer-events: all !important;
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

[data-opened="true"] {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

[data-opened="true"] .burger::before {
  -webkit-transform: rotate(-28deg);
          transform: rotate(-28deg);
}

[data-opened="true"] .burger::after {
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
}
/*# sourceMappingURL=header.css.map */