@import "./variables.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1316px;
  margin: 0 auto;
  padding: 15px;
}

button {
  padding: 0;
  margin: 0;
  display: inline-block;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.fa-brands {
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titles;
}

.active {
  font-weight: 700;
}
